@import 'fonts';

body {
  margin: 0;
}

.b-quiz {
  width: 560px;
  margin: 100px auto 250px;

  pre {
    padding-bottom: 0;
    margin: 0;
  }
}

.b-question {
  margin: 30px 0 40px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__count {
    position: absolute;
    top: .8em;
    right: 100%;
    margin-right: 1em;
    font-size: 1.2em;
    color: #b7b7b7;
  }

  &__answer {
    margin-bottom: 5px;

    label {
      cursor: pointer !important;
    }

    &--green {
      label {
        color: green !important;
      }
    }

    &--red {
      label {
        color: red !important;
      }
    }
  }

  &__content {
    padding: 10px;
  }
}