/* font-family: "LatoRegular"; */
@font-face {
  font-family: "Lato";
  src: url("fonts/LatoRegular/LatoRegular.eot");
  src: url("fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("fonts/LatoRegular/LatoRegular.woff") format("woff"), url("fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBold"; */
@font-face {
  font-family: "Lato";
  src: url("fonts/LatoBold/LatoBold.eot");
  src: url("fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("fonts/LatoBold/LatoBold.woff") format("woff"), url("fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
/* font-family: "LatoItalic"; */
@font-face {
  font-family: "Lato";
  src: url("fonts/LatoItalic/LatoItalic.eot");
  src: url("fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LatoItalic/LatoItalic.woff") format("woff"), url("fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
/* font-family: "LatoLight"; */
@font-face {
  font-family: "Lato";
  src: url("fonts/LatoLight/LatoLight.eot");
  src: url("fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("fonts/LatoLight/LatoLight.woff") format("woff"), url("fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }
/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "Lato";
  src: url("fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold; }
/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "Lato";
  src: url("fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200; }
body {
  margin: 0; }

.b-quiz {
  width: 560px;
  margin: 100px auto 250px; }
  .b-quiz pre {
    padding-bottom: 0;
    margin: 0; }

.b-question {
  margin: 30px 0 40px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .b-question__count {
    position: absolute;
    top: .8em;
    right: 100%;
    margin-right: 1em;
    font-size: 1.2em;
    color: #b7b7b7; }
  .b-question__answer {
    margin-bottom: 5px; }
    .b-question__answer label {
      cursor: pointer !important; }
    .b-question__answer--green label {
      color: green !important; }
    .b-question__answer--red label {
      color: red !important; }
  .b-question__content {
    padding: 10px; }

/*# sourceMappingURL=styles.css.map */
