<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Тестовые вопросы</title>
</head>
<body>
<div ng-controller="TestCtrl" class="b-quiz">
    <div class="ui container">
        <h2 class="ui dividing header">Тестовые вопросы для фронтенд-разработчика</h2>

        <div ng-form="quiz_form">
            <div ng-repeat="question in questions"
                 class="b-question">
                <div class="b-question__count">
                    <span ng-bind="$index+1"></span>.
                </div>

                <h4 class="ui top attached block header"
                    ng-bind="question.text"></h4>

                <div class="ui attached segment" ng-if="question.code">
                    <pre ng-bind="question.code"></pre>
                </div>

                <div class="ui bottom attached segment">
                    <div class="b-question__content">
                        <div ng-if="question.type === 1">
                            <div class="b-question__answer"
                                 ng-repeat="ans in question.answers"
                                 ng-class="{'b-question__answer--green': ans.isCorrect && ans.isSelected, 'b-question__answer--red':  !ans.isCorrect && ans.isSelected}">
                                <div class="ui checkbox">
                                    <input type="checkbox"
                                           name="{{question.name}}"
                                           id="{{ans.uniqId2}}"
                                           ng-model="ans.isSelected"
                                           ng-disabled="ans.isSelected"
                                           value="{{ans.text}}"
                                           ng-required="!answerIsSelected(question)">

                                    <label ng-bind="ans.text"
                                           for="{{ans.uniqId2}}"></label>
                                </div>
                            </div>
                        </div>

                        <div ng-if="question.type === 2">
                            <div class="b-question__answer"
                                 ng-repeat="ans in question.answers"
                                 ng-class="{'b-question__answer--green': ans.isCorrect && question.selected === ans, 'b-question__answer--red': !ans.isCorrect && question.selected === ans}">
                                <div class="ui radio checkbox">
                                    <input type="radio"
                                           name="{{question.name}}"
                                           ng-value="ans"
                                           ng-disabled="question.selected && question.selected !== ans"
                                           id="{{ans.uniqId}}"
                                           ng-model="question.selected"
                                           ng-click = "saveToLocalStorage(question, ans)"
                                           required>

                                    <label ng-bind="ans.text"
                                           for="{{ans.uniqId}}"></label>
                                </div>
                            </div>
                        </div>

                        <div ng-if="question.type === 3">
                            <div class="b-question__answer ui form">
                                    <textarea rows="2"
                                            ng-model="question.answer"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div align="center">
                <div class="ui input large" style="vertical-align: middle;width: 180px;margin-right: 10px;">
                    <input type="text"
                           ng-model="quizParams.userEmail"
                           placeholder="email"
                            required>
                </div>
                <button class="ui blue button large"
                        type="button"
                        ng-class="{loading: quizParams.isSending}"
                        ng-disabled="quizParams.isSending || quizParams.isSent || quiz_form.$invalid"
                        ng-click="saveAnswers()">Сохранить и отправить</button>
            </div>
        </div>
    </div>
</div>
<script src="src/angular1-6-4.min.js"></script>
<script src="src/scripts.js"></script>
</body>
</html>